<ion-tabs>

  <ion-tab-bar class="tab-bar" slot="bottom">
    <ion-tab-button tab="diet" href="/tabs/diet" [ngClass]="getBtn()? 'btn-large' : 'btn'" (click)="btnClicked()">
      <img src="../../assets/icon/burger-solid.svg" class="icons-footer"/>
    </ion-tab-button>

    <ion-tab-button tab="medicines" href="/tabs/medicines" (click)="btnClicked()">
      <img src="../../assets/icon/pills-solid.svg" class="icons-footer"/>
      <!-- <ion-icon aria-hidden="true" size="large" name="videocam"></ion-icon> -->
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home" class="home">
      <ion-icon aria-hidden="true" size="large" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="doctor" href="/tabs/doctor" (click)="btnClicked()">
      <img src="../../assets/icon/stethoscope-solid.svg" class="icons-footer"/>
    </ion-tab-button>

    <ion-tab-button tab="stress-tracker" href="/tabs/stress-tracker" (click)="btnClicked()">
      <img src="../../assets/icon/brain-solid.svg" class="icons-footer"/>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
