.header{
    --background: var(--main-header-color);
}
.header-icons{
    margin: 0 1rem 0 1rem;
}

.header-container{
    color: var(--main-header-text-color);
    display: flex;
    align-items: center;
}