 
  <ion-header>
    <div class="label-container">
      <img src="../../assets/icon/applogo.png" class="logo">
      <p class="logo-text">Medi Aid</p>

    </div>
  </ion-header>
  <ion-content class="theme" [fullscreen]="true">
    <div class="searchbar-container">
        <div class="search-bar">
            <ion-searchbar animated="true" placeholder="Search service"></ion-searchbar>
        </div>
    </div>

    <div class="survey">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Take Survey NOW</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>  
    </div>

    <div class="dashboard">
      
    </div>


  </ion-content>