.search-bar {
    width: 90%;
    border: 2px solid var(--main-header-color);
    border-radius: 1rem;
}

ion-searchbar {
    --box-shadow: none;
}

.searchbar-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.logo{
  height: 4rem;  
}
.logo-text{
    color: var(--main-header-color);
    font-weight: bold;
}
.label-container{
    display: flex;
    align-items: center;
}
.survey{
    display: flex;
    justify-content: center;
}